@font-face {
  font-family: 'Exo 2';
  src: url('@/assets/fonts/Exo2-Bold.woff2') format('woff2');
  font-weight: bold;
}

@font-face {
  font-family: 'Exo 2';
  src: url('@/assets/fonts/Exo2-SemiBold.woff2') format('woff2');
  font-weight: semi-bold;
}

@font-face {
  font-family: 'Exo 2';
  src: url('@/assets/fonts/Exo2-Regular.woff2') format('woff2');
  font-weight: regular;
}