.menu {
  max-width: 200px;
  width: 100%;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 60px;

  &__nav-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    position: -webkit-sticky;
    position: sticky;
    top: 40px;
  }

  &__text {
    text-align: center;
    color: $contextualLight;
    @include desktopBody();
  }
}