.introduction {
  width: 100%;
  min-height: 100dvh;
  background-image: url('../assets/images/bg.avif');
  margin: auto;
  padding: 0px 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__logo-container {
    max-width: 1796px;
    width: 100%;
    padding: 48px 0px;
  }

  &__content {
    max-width: 600px;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }

  &__title {
    text-align: center;
    color: $contextualWhite;
    @include desktopH1();
  }
}