// colors
$systemPrimary: #7B61FF;
$systemPrimary2: #917CFF;
$systemSecondary: #80858B;

$backgroundBlack: #000000;
$backgroundDark: #242426;
$backgroundGraphite: #323537;

$contextualWhite: #FFFFFF;
$contextualLight: #AFB2B6;
$contextualError: #FF5154;

$tetriaryGreen: #00A340;
$tetriaryYellow: #F3A608;
$tetriaryOrange: #F45D2D;